<!-- Modal Audio-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Audio</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
        </div>
        <div class="modal-body">
          <audio controls>
            <source src="assets/audio/y2mate.com - AURORA  Runaway.mp3" type="audio/mpeg">
            <source src="assets/audio/y2mate.com - Paulo Londra  Duki  Party en el Barrio Drill Remix prod Makzi drillargentino.mp3" type="audio/mpeg">
            <source src="assets/audio/y2mate.com - Shiloh Ocean Remix  Obito AMV.mp3" type="audio/mpeg">
            <source src="/assets/audio/y2mate.com - Lara91k ft Duki  Eres para mi.mp3" type="audio/mpeg">
          </audio>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  </div>
