<section class="skills text-center" style="font-size:175%;"> 
    <div class="container-fluid">
      <div class="row">
        <h1 class="titulo4">Habilidades fuertes y blandas</h1>
        <div class="col-sm-3">
          <div class="progress-circle-container">
            <div class="progress-circle progress-50"><span>50</span></div>
          </div>
          <p> Ingles</p>
        </div>
        <div class="col-sm-3">
          <div class="progress-circle-container">
            <div class="progress-circle progress-60"><span>60</span></div>
          </div>
          <p> Electronica </p>
        </div>
        <div class="col-sm-3">
          <div class="progress-circle-container">
            <div class="progress-circle progress-40"><span>40</span></div>
          </div>
          <p>JavaScript</p>
        </div>
        <div class="col-sm-3">
          <div class="progress-circle-container">
            <div class="progress-circle progress-40"><span>40</span></div>
          </div>
          <p>Html</p>
        </div>
      </div>
      
    </div>