/*
redes sociales
*/
i.fa-brands.fa-instagram.fa-2xl:hover,
i.fa-brands.fa-github.fa-2xl:hover,
i.fa-solid.fa-music.fa-2xl:hover
{
  color: #ffffff;
}
i.fa-brands.fa-instagram.fa-2xl{
  color:hotpink;
}
i.fa-solid.fa-music.fa-2xl{
  color:rgba(14, 244, 14, 0.625);
}
    
i.fa-brands.fa-github.fa-2xl{
  color: #3d506a;
}

.list-group{
  --bs-list-group-bg: transparent;
  --bs-list-group-border-color:transparent;
 }
    

/*
redes sociales termina
*/